const supported = 'mediaDevices' in navigator;

const getCameraStream = () => {
  const constraints = {
    video: {
      facingMode: { 
        exact: 'environment'
      },
    },
  };
  navigator.mediaDevices.getUserMedia(constraints).then(stream => {
    setCameraIsActive(true);
    cameraView.current.srcObject = stream;
  }).catch(err => {
    console.log('There was an error using the camera: ', err);
  });
};